#id_text {
    margin-top: 2ex;
    border-color: #8080ff;
    border-style: solid;
    border-width: medium;
}

.form-container {
    background-color: #9999ff;
    border-color: #8080ff;
    border-style: solid;
    margin-top: 50px;
}

.item-counter {
    font-weight: bold;
    font-family: monospace;
    text-align: right;
}

/* vim: set et sw=4 sts=-1: */
